# THIS .ENV *SHOULD* WORK WITHOUT DOCKER as is
# ---------- Backend ----------
PORT=3001
SECRET=dev_secret_key
DISABLE_REGISTRATION=false
UPLOAD_DIR=./uploads
MAX_UPLOAD_MB=1000

# MongoDB (dev)
MONGO_URI=mongodb://localhost:27017/awa

# Public URL (not in use in dev)
PUBLIC_SERVER_URL=http://localhost:3001

# Frontend / CORS (dev)
CLIENT_URL=http://localhost:3000

# ---------- Frontend ----------
BACKEND_URL=http://localhost:3001
PORT_FRONTEND=3000